body *{
font-family: 'Abril Fatface', cursive;
}


.box{
	width: 100px;
	border: 1px solid black;
	position: relative;
}

.button{
	border: none;
	margin: 0;
	width: 10%;
	height: 30px;
}

#myMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    list-style: none;
    display: inline-flex;
}

#myMenu li{
	padding: 10px;
	text-align: center;
}

#myMenu li.active a{
	color: #d9d9d9;
}